In [1]:
import pandas as pd

In [43]:
import numpy as np

data = pd.read_html("https://www.pro-football-reference.com/years/2021/week_1.htm", encoding = 'UTF-8')

las tablas son los elementos del vector es decri si queremos una solo tabla deberiamos concatenar cada una de ellas

In [40]:
data = pd.concat([data[0],data[1],data[2],data[3]])

In [41]:
data

                      0             1             2
0           Sep 9, 2021   Sep 9, 2021   Sep 9, 2021
1        Dallas Cowboys            29         Final
2  Tampa Bay Buccaneers            31           NaN
0               PassYds  Prescott-DAL           403
1               RushYds   Elliott-DAL            33
2                RecYds    Cooper-DAL           139
0          Sep 12, 2021  Sep 12, 2021  Sep 12, 2021
1   Philadelphia Eagles            32         Final
2       Atlanta Falcons             6           NaN
0               PassYds     Hurts-PHI           264
1               RushYds   Sanders-PHI            74
2                RecYds     Smith-PHI            71

In [45]:
def conca_nfl(data):
    for i in data:
        data = data.concat([i,i+1])
    return data

In [70]:
for i in range(0,16):
    url = "https://www.pro-football-reference.com/years/2021/week_"+str(i+1)+".htm"
    data = pd.read_html(url, encoding = 'UTF-8')
    data0=data[0]
    data1=data[1]
    data_new = pd.concat([data0,data1])
    for j in range(2,32,2):
        data_update = pd.concat([data_new,data[j],data[j+1]])
        data_new = data_update
    
data_new

IndexError: list index out of range

In [2]:
import numpy as np

data_new = pd.DataFrame()

for i in range(0, 16):
    url = "https://www.pro-football-reference.com/years/2022/week_"+str(i+1)+".htm"
    data = pd.read_html(url, encoding='UTF-8')
    
    if len(data) >= 2:  # Verificamos si hay al menos 2 tablas
        data0 = data[0]
        data1 = data[1]
        data_new = pd.concat([data_new, data0, data1])

        for j in range(2, min(32, len(data)), 2):  # Aseguramos que el índice no exceda el tamaño de 'data'
            if j+1 < len(data):  # Verificamos si el índice j+1 es válido
                data_update = pd.concat([data_new, data[j], data[j+1]])
                data_new = data_update
data_new

                       0            1            2
0            Sep 8, 2022  Sep 8, 2022  Sep 8, 2022
1          Buffalo Bills           31        Final
2       Los Angeles Rams           10          NaN
0                PassYds    Allen-BUF          297
1                RushYds    Allen-BUF           56
..                   ...          ...          ...
1   Los Angeles Chargers           20        Final
2     Indianapolis Colts            3          NaN
0                PassYds  Herbert-LAC          235
1                RushYds   Ekeler-LAC           67
2                 RecYds    Allen-LAC          104

[1440 rows x 3 columns]

In [7]:
import numpy as np

data_new = pd.DataFrame()

for i in range(0, 16):
    url = "https://www.pro-football-reference.com/years/2023/week_"+str(i+1)+".htm"
    data = pd.read_html(url, encoding='UTF-8')
    
    if len(data) >= 2:  # Verificamos si hay al menos 2 tablas
        data0 = data[0]
        data1 = data[1]
        data_new = pd.concat([data_new, data0, data1])

        for j in range(2, min(32, len(data)), 2):  # Aseguramos que el índice no exceda el tamaño de 'data'
            if j+1 < len(data):  # Verificamos si el índice j+1 es válido
                data_update = pd.concat([data_new, data[j], data[j+1]])
                data_new = data_update
data_new

                      0               1            2
0           Sep 7, 2023     Sep 7, 2023  Sep 7, 2023
1         Detroit Lions              21        Final
2    Kansas City Chiefs              20          NaN
0               PassYds        Goff-DET          253
1               RushYds  Montgomery-DET           74
..                  ...             ...          ...
1      Baltimore Ravens              33        Final
2   San Francisco 49ers              19          NaN
0               PassYds       Purdy-SFO          255
1               RushYds   McCaffrey-SFO          103
2                RecYds      Kittle-SFO          126

[1440 rows x 3 columns]

In [8]:
data_new.index = [i % 6 for i in range(len(data_new))]

In [38]:
data_new.head(10)
data_new[1][2]

2    20
2    24
2    24
2    21
2    17
     ..
2    22
2    23
2    14
2    33
2    19
Name: 1, Length: 240, dtype: object

In [37]:
data_new

                      0               1            2
0           Sep 7, 2023     Sep 7, 2023  Sep 7, 2023
1         Detroit Lions              21        Final
2    Kansas City Chiefs              20          NaN
3               PassYds        Goff-DET          253
4               RushYds  Montgomery-DET           74
..                  ...             ...          ...
1      Baltimore Ravens              33        Final
2   San Francisco 49ers              19          NaN
3               PassYds       Purdy-SFO          255
4               RushYds   McCaffrey-SFO          103
5                RecYds      Kittle-SFO          126

[1440 rows x 3 columns]

In [43]:
data1 = pd.DataFrame({

    'Equipo Local':[x for x in data_new[0][1]],
    'Score Local':[x for x in data_new[1][1]],
    'Equipo Visitante':[x for x in data_new[0][2]],
    'Score Visitante':[x for x in data_new[1][2]],
    'Fecha':[x for x in data_new[0][0]],
    'PassYds':[x for x in data_new[1][3]],
    'RushYds':[x for x in data_new[1][4]],
    'RecYds':[x for x in data_new[1][5]],
})
data1

,Equipo Local,Score Local,Equipo Visitante,Score Visitante,Fecha,PassYds,RushYds,RecYds
0,Detroit Lions,21,Kansas City Chiefs,20,"Sep 7, 2023",Goff-DET,Montgomery-DET,Reynolds-DET
1,Carolina Panthers,10,Atlanta Falcons,24,"Sep 10, 2023",Young-CAR,Allgeier-ATL,Pitts-ATL
2,Cincinnati Bengals,3,Cleveland Browns,24,"Sep 10, 2023",Watson-CLE,Chubb-CLE,Moore-CLE
3,Jacksonville Jaguars,31,Indianapolis Colts,21,"Sep 10, 2023",Lawrence-JAX,Etienne-JAX,Ridley-JAX
4,Tampa Bay Buccaneers,20,Minnesota Vikings,17,"Sep 10, 2023",Cousins-MIN,White-TAM,Jefferson-MIN
...,...,...,...,...,...,...,...,...
235,Dallas Cowboys,20,Miami Dolphins,22,"Dec 24, 2023",Tagovailoa-MIA,Mostert-MIA,Lamb-DAL
236,New England Patriots,26,Denver Broncos,23,"Dec 24, 2023",Zappe-NWE,McLaughlin-DEN,Douglas-NWE
237,Las Vegas Raiders,20,Kansas City Chiefs,14,"Dec 25, 2023",Mahomes-KAN,White-LVR,Rice-KAN
238,New York Giants,25,Philadelphia Eagles,33,"Dec 25, 2023",Hurts-PHI,Swift-PHI,Slayton-NYG
239,Baltimore Ravens,33,San Francisco 49ers,19,"Dec 25, 2023",Purdy-SFO,McCaffrey-SFO,Kittle-SFO

In [32]:
data1.head(10)

,Equipo Local,Equipo Visitante,Fecha,PassYds,RushYds,RecYds
0,Detroit Lions,Kansas City Chiefs,"Sep 7, 2023",PassYds,RushYds,RecYds
1,Carolina Panthers,Atlanta Falcons,"Sep 10, 2023",PassYds,RushYds,RecYds
2,Cincinnati Bengals,Cleveland Browns,"Sep 10, 2023",PassYds,RushYds,RecYds
3,Jacksonville Jaguars,Indianapolis Colts,"Sep 10, 2023",PassYds,RushYds,RecYds
4,Tampa Bay Buccaneers,Minnesota Vikings,"Sep 10, 2023",PassYds,RushYds,RecYds
5,Tennessee Titans,New Orleans Saints,"Sep 10, 2023",PassYds,RushYds,RecYds
6,San Francisco 49ers,Pittsburgh Steelers,"Sep 10, 2023",PassYds,RushYds,RecYds
7,Houston Texans,Baltimore Ravens,"Sep 10, 2023",PassYds,RushYds,RecYds
8,Arizona Cardinals,Washington Commanders,"Sep 10, 2023",PassYds,RushYds,RecYds
9,Green Bay Packers,Chicago Bears,"Sep 10, 2023",PassYds,RushYds,RecYds

In [65]:
'''import pandas as pd

data_new = pd.DataFrame()  # Inicializamos el DataFrame vacío

for i in range(0, 16):
    url = "https://www.pro-football-reference.com/years/2022/week_"+str(i+1)+".htm"
    data = pd.read_html(url, encoding='UTF-8')
    
    if len(data) >= 2:  # Verificamos si hay al menos 2 tablas
        data0 = data[0]
        data1 = data[1]
        data_new = pd.concat([data_new, data0, data1])

        for j in range(2, min(32, len(data)), 2):  # Aseguramos que el índice no exceda el tamaño de 'data'
            if j+1 < len(data):  # Verificamos si el índice j+1 es válido
                data_update = pd.concat([data_new, data[j], data[j+1]])
                data_new = data_update

data_new'''
import numpy as np

data_new = pd.DataFrame()

for i in range(0, 16):
    url = "https://www.pro-football-reference.com/years/2021/week_"+str(i+1)+".htm"
    data = pd.read_html(url, encoding='UTF-8')
    
    if len(data) >= 2:  # Verificamos si hay al menos 2 tablas
        data0 = data[0]
        data1 = data[1]
        data_new = pd.concat([data_new, data0, data1])

        for j in range(2, min(32, len(data)), 2):  # Aseguramos que el índice no exceda el tamaño de 'data'
            if j+1 < len(data):  # Verificamos si el índice j+1 es válido
                data_update = pd.concat([data_new, data[j], data[j+1]])
                data_new = data_update
data_new

                       0               1            2
0            Sep 9, 2021     Sep 9, 2021  Sep 9, 2021
1         Dallas Cowboys              29        Final
2   Tampa Bay Buccaneers              31          NaN
0                PassYds    Prescott-DAL          403
1                RushYds     Elliott-DAL           33
..                   ...             ...          ...
1         Miami Dolphins              20        Final
2     New Orleans Saints               3          NaN
0                PassYds  Tagovailoa-MIA          198
1                RushYds      Kamara-NOR           52
2                 RecYds      Waddle-MIA           92

[1440 rows x 3 columns]

In [67]:
data_new = data_new.reset_index(drop=True)
data_new

                         0               1            2
0              Sep 9, 2021     Sep 9, 2021  Sep 9, 2021
1           Dallas Cowboys              29        Final
2     Tampa Bay Buccaneers              31          NaN
3                  PassYds    Prescott-DAL          403
4                  RushYds     Elliott-DAL           33
...                    ...             ...          ...
1435        Miami Dolphins              20        Final
1436    New Orleans Saints               3          NaN
1437               PassYds  Tagovailoa-MIA          198
1438               RushYds      Kamara-NOR           52
1439                RecYds      Waddle-MIA           92

[1440 rows x 3 columns]

In [52]:
data_new = data_new.head(6)

In [53]:
data_new

                      0             1            2
0           Sep 9, 2021   Sep 9, 2021  Sep 9, 2021
1        Dallas Cowboys            29        Final
2  Tampa Bay Buccaneers            31          NaN
3               PassYds  Prescott-DAL          403
4               RushYds   Elliott-DAL           33
5                RecYds    Cooper-DAL          139

In [62]:
# Extraer la fecha
fecha = data_new.iloc[0, 0]

# Crear un nuevo DataFrame con la información de los equipos
resultado = pd.DataFrame({
    'Fecha': [fecha],
    'Equipo Local': [data_new.iloc[1, 0]],
    'Puntos Local': [data_new.iloc[1, 1]],
    'Equipo Visitante': [data_new.iloc[2, 0]],
    'Puntos Visitante': [data_new.iloc[2, 1]]
})

# Mostrar el nuevo DataFrame
print("\nNuevo DataFrame reorganizado:")
resultado

Nuevo DataFrame reorganizado:

,Fecha,Equipo Local,Puntos Local,Equipo Visitante,Puntos Visitante
0,"Sep 9, 2021",Dallas Cowboys,29,Tampa Bay Buccaneers,31

In [74]:
# Crear una lista para almacenar los datos reorganizados
partidos = []

# Procesar el DataFrame en bloques de 4 filas
for i in range(0, len(data_new), 2):  # Asumiendo que cada partido ocupa 2 filas
    if i + 1 < len(data_new):  # Asegurarse de que hay un par de filas
        # Extraer datos de cada bloque
        fecha = data_new.iloc[i, i*6]  # Fecha
        equipo_local = data_new.iloc[i, 1]  # Equipo local
        puntos_local = data_new.iloc[i, 2]  # Puntos local
        equipo_visitante = data_new.iloc[i + 1, 1]  # Equipo visitante
        puntos_visitante = data_new.iloc[i + 1, 2]  # Puntos visitante
        
        # Agregar los datos a la lista
        partidos.append([fecha, equipo_local, puntos_local, equipo_visitante, puntos_visitante])

# Crear un nuevo DataFrame a partir de la lista de partidos
df_partidos = pd.DataFrame(partidos, columns=['Fecha', 'Equipo Local', 'Puntos Local', 'Equipo Visitante', 'Puntos Visitante'])

# Mostrar el nuevo DataFrame
print("\nNuevo DataFrame reorganizado:")
df_partidos

IndexError: index 1440 is out of bounds for axis 0 with size 1440

In [69]:
data_f

                         0               1            2
0              Sep 9, 2021     Sep 9, 2021  Sep 9, 2021
1           Dallas Cowboys              29        Final
2     Tampa Bay Buccaneers              31          NaN
3                  PassYds    Prescott-DAL          403
4                  RushYds     Elliott-DAL           33
...                    ...             ...          ...
1435        Miami Dolphins              20        Final
1436    New Orleans Saints               3          NaN
1437               PassYds  Tagovailoa-MIA          198
1438               RushYds      Kamara-NOR           52
1439                RecYds      Waddle-MIA           92

[1440 rows x 3 columns]

In [72]:
data_new.head(16)

                       0             1             2
0            Sep 9, 2021   Sep 9, 2021   Sep 9, 2021
1         Dallas Cowboys            29         Final
2   Tampa Bay Buccaneers            31           NaN
3                PassYds  Prescott-DAL           403
4                RushYds   Elliott-DAL            33
5                 RecYds    Cooper-DAL           139
6           Sep 12, 2021  Sep 12, 2021  Sep 12, 2021
7    Philadelphia Eagles            32         Final
8        Atlanta Falcons             6           NaN
9                PassYds     Hurts-PHI           264
10               RushYds   Sanders-PHI            74
11                RecYds     Smith-PHI            71
12          Sep 12, 2021  Sep 12, 2021  Sep 12, 2021
13   Pittsburgh Steelers            23         Final
14         Buffalo Bills            16           NaN
15               PassYds     Allen-BUF           270

In [55]:
def randint_list(n, a, b):
    x = []
    for i in range(n):
        x.append(np.random.randint(a,b))
    return x

In [57]:
randint_list(5, 30,37)

[30, 33, 35, 31, 30]

In [5]:
data2000['Vs'] = data2000['Vs'].str.strip()import time

data_new = pd.DataFrame()  # Inicializamos el DataFrame vacío

for i in range(0, 16):
    url = "https://www.pro-football-reference.com/years/2022/week_"+str(i+1)+".htm"
    
    try:
        # Intentamos leer la tabla
        data = pd.read_html(url, encoding='UTF-8')
        
        if len(data) >= 2:  # Verificamos si hay al menos 2 tablas
            data0 = data[0]
            data1 = data[1]
            data_new = pd.concat([data_new, data0, data1])

            for j in range(2, min(32, len(data)), 2):  # Aseguramos que el índice no exceda el tamaño de 'data'
                if j+1 < len(data):
                    data_new = pd.concat([data_new, data[j], data[j+1]])
        
        # Espera 5 segundos antes de hacer la siguiente solicitud
        time.sleep(timeout)
    
    except Exception as e:
        print(f"Error en la semana {i+1}: {e}")
        time.sleep(10)  # Si ocurre un error, esperamos más tiempo

# Ver el DataFrame final
data_new

Error en la semana 1: HTTP Error 429: Too Many Requests
Error en la semana 2: HTTP Error 429: Too Many Requests
Error en la semana 3: HTTP Error 429: Too Many Requests
Error en la semana 4: HTTP Error 429: Too Many Requests
Error en la semana 5: HTTP Error 429: Too Many Requests
Error en la semana 6: HTTP Error 429: Too Many Requests
Error en la semana 7: HTTP Error 429: Too Many Requests
Error en la semana 8: HTTP Error 429: Too Many Requests
Error en la semana 9: HTTP Error 429: Too Many Requests
Error en la semana 10: HTTP Error 429: Too Many Requests
Error en la semana 11: HTTP Error 429: Too Many Requests
Error en la semana 12: HTTP Error 429: Too Many Requests
Error en la semana 13: HTTP Error 429: Too Many Requests
Error en la semana 14: HTTP Error 429: Too Many Requests
Error en la semana 15: HTTP Error 429: Too Many Requests
Error en la semana 16: HTTP Error 429: Too Many Requests

Empty DataFrame
Columns: []
Index: []

In [9]:
for i in range(0, 16):
    url = "https://www.pro-football-reference.com/years/2022/week_"+str(i+1)+".htm"
    data = pd.read_html(url, encoding='UTF-8')
    
    if len(data) >= 2:  # Verificamos si hay al menos 2 tablas
        data0 = data[0]
        data1 = data[1]
        data_new = pd.concat([data_new, data0, data1])

        for j in range(2, min(32, len(data)), 2):  # Aseguramos que el índice no exceda el tamaño de 'data'
            if j+1 < len(data):  # Verificamos si el índice j+1 es válido
                data_update = pd.concat([data_new, data[j], data[j+1]])
                data_new = data_update

data_new

                       0            1            2
0            Sep 8, 2022  Sep 8, 2022  Sep 8, 2022
1          Buffalo Bills           31        Final
2       Los Angeles Rams           10          NaN
0                PassYds    Allen-BUF          297
1                RushYds    Allen-BUF           56
..                   ...          ...          ...
1   Los Angeles Chargers           20        Final
2     Indianapolis Colts            3          NaN
0                PassYds  Herbert-LAC          235
1                RushYds   Ekeler-LAC           67
2                 RecYds    Allen-LAC          104

[2880 rows x 3 columns]

In [34]:
allen=data_new[(data_new[1]=="Allen-BUF") & (data_new[0]=="PassYds")][2].mean()
str(allen)+ " PassYds"

'275.09090909090907 Yrds'

In [26]:
data_new[2]

pandas.core.frame.DataFrame

In [15]:
data_new

Empty DataFrame
Columns: []
Index: []